* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    padding: 30px;
    margin: 0 auto;
    width: 300px;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right top, #ff00cc, #333399);
}
