.cardForm {
    width: 300px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.purchaseButton {
    background-color: transparent;
    border: 1px solid blue;
    width: 120px;
    display: block;
    margin: 0 auto;
    background: linear-gradient(to right, rgb(0, 0, 255, 0.2), rgb(0, 0, 255, 0.2) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 330ms ease;
}

.purchaseButton:hover {
    background-position: 0 100%;
}

.purchaseButton:disabled {
    background-color: transparent;
    border: 1px solid #d3d3d3;
    width: 120px;
    display: block;
    margin: 0 auto;
}